.articles {
    display: flex;
    flex-direction: column;
}
.article {
    color: rgb(48, 47, 47);
    border-bottom: 3px solid grey;
    margin-top: 50px;
}

.article .article_title {
    text-align: center;
    font-family: "DM Sans", sans-serif;
}

.article .article_contents {
    white-space: pre-line;
    text-align: center;

    font-family: "DM Sans", sans-serif;

    padding: 0px 100px 0px 100px;
}


.article .article_contents p {
    white-space: pre-line;
}

.cards_article {
    height: calc(100% - 15px);
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.cards_article .cards {
    width: 100%;
    height: 20%;
}

.article .article_contents p {
        
    margin-top: 10px;
    font-size: 18px;
    width: 100%;
    text-align: justify;;

    font-family: "DM Sans", sans-serif;

    padding: 0px 5px 0px 5px;
}

@media only screen and (max-width: 450px) {
    .article .article_title {
        text-align: center;
        font-family: "DM Sans", sans-serif;
        margin-bottom: 20px;
    }

    .article .article_contents {
        width: 100%;
        text-align: center;

        font-family: "DM Sans", sans-serif;

        padding: 0px 5px 0px 5px;
    }

    .article .article_contents p {
        
        margin-top: 10px;
        font-size: 18px;
        width: 100%;
        text-align: justify;;

        font-family: "DM Sans", sans-serif;

        padding: 0px 5px 0px 5px;
    }
}
