.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: black;
    color: white;
    align-items: center;
    margin-top: 50px;
}

.footer .rs svg{
    height: 60px;
    width: 60px;
    color: #61DAFB;
    margin-right: 50px;
}

@media only screen and (max-width: 450px) {
    .footer {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background: black;
        color: white;
        align-items: center;
    }

    .footer .contents h3 {
    }

    
    .footer .rs {
        display: flex;
        flex-direction: column;
    }

    .footer .rs svg{
        height: 30px;
        width: 30px;
        color: #61DAFB;
    }


    .footer .image_footer img{
        width: 50%;
        height: 50%;
    }

}