.info_site {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: #3a3a3a;
    width: 100%;
    font-weight: bold;
    color: white;
    position: fixed;
    top: 0;
    overflow: hidden;
    z-index: 1;
    border-bottom: 1px solid white;
}
.info_contact {
    display: flex;
    flex-direction: row;
}

.info_contact svg {
    margin-right: 5px;
}
.info_contact p {
    border-right: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;

    margin: 0px 0px;
    padding: 15px 5px 15px 10px;
    color: rgb(248, 248, 90);
}

.info_rs {
    display: flex;
    flex-direction: row;
}

.info_rs p {
    margin: 0px 0px;
    padding: 5px 5px 0px 5px;
}
.info_rs svg {
    margin-right: 15px;
    height: 30px;
    width: 30px;
    margin-top: 5px;
    color: yellow;
}

@media only screen and (max-width: 450px) {
    .info_site {
        display: none;
    }
    .navigation {
        margin-top: 0px;
    }
    .info_contact {
    }

    .info_contact svg {
    }
    .info_contact p {
    }

    .info_rs {
    }

    .info_rs p {
    }
    .info_rs svg {
    }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
    .info_site {
        display: none;
    }
    .navigation {
        margin-top: 0px;
    }
    .info_contact {
    }

    .info_contact svg {
    }
    .info_contact p {
    }

    .info_rs {
    }

    .info_rs p {
    }
    .info_rs svg {
    }
}
