.navigation {
    
    margin-top: 50px;
    padding: 10px 100px;
    display: flex;
    flex-direction: "row";
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    background: linear-gradient(to right, white, rgb(212, 209, 209) 100px, white 50%, black);
    text-transform: uppercase;
    
    .menu {
        font-size: 22px;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    }

    .menu a {
        margin: 10px;
        padding: 10px;
        text-decoration: none;
        color: black;
        position: relative;

       
    }
    .nav-active {
      &::after {
        content: "";
        width: 85%;
        height: 5px;
        background: yellow;
        position: absolute;
        bottom: 1px;
        left: 50%;
        transform: translateX(-50%);
      }
   

    }

    .navigation_logo {
        width: 300px;
        height: 100px;
    }
}



@media only screen and (max-width: 450px) {
    .navigation {
        padding: 10px 100px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        font-weight: bold;
        background: linear-gradient(to top, white, rgb(212, 209, 209) 10px, rgb(99, 98, 98) 50%, rgb(0, 0, 0));
        text-transform: uppercase;
        
    
        .menu {
            display: flex;
            flex-direction: row;
            font-size: 12px;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        }
    
        .menu a {
            margin: 5px;
            padding: 5px;
            padding-bottom: 0px;
            margin-bottom: 0px;
            text-decoration: none;
            color: black;
            position: relative;
            text-align: center;
        }
        .nav-active {
            &::after {
                content: "";
                width: 85%;
                height: 5px;
                background: yellow;
                position: absolute;
                bottom: -3px;
                left: 50%;
                transform: translateX(-50%);
            }
           
    
        }
    
        .navigation_logo {
            height: 63px;
            width: 240px;
        }
    }
    
}
