.titleHeader {
    display: flex;
    background: yellow;
    justify-content: center;
    padding: 10px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    border-bottom: black 1px solid;
    
}